@font-face {
  font-family: "Filmotype Gay";
  src: url("../../fonts/Filmotype\ Gay.otf");
}

.contact {
  font-family: "Filmotype Gay", sans-serif;

  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

.form {
  background: black;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);

  input,
  textarea {
    border-radius: 5px;
    font-size: 1.2rem;
  }
}

.fields {
  display: grid;
  grid-template-areas:
    "name email"
    "subject phone"
    "message message";
  grid-gap: 1rem;
  margin-bottom: 1.5rem;

  // Grid Areas
  .name {
    grid-area: name;
  }

  .subject {
    grid-area: subject;
  }

  .email {
    grid-area: email;
    margin: 0 !important;
  }

  .phone {
    grid-area: phone;
  }

  .message {
    grid-area: message;
    height: 120px;
  }

  input,
  textarea {
    padding: 0.5rem 1rem;
  }
}
.submit {
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
}

.submit:hover {
  background: #ffffff;
  color: #000000;
}

@media (max-width: 768px) {
  .fields {
    grid-template-areas:
      "name"
      "subject"
      "email"
      "phone"
      "message";
  }
}
