@font-face {
  font-family: "Filmotype Gay";
  src: url("../../fonts/Filmotype\ Gay.otf");
}

.contact {
  font-family: "Filmotype Gay", sans-serif;

  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
  }
}

.form {
  background: #ccc;
  padding: 1rem 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 6px 20px 8px rgba(0, 0, 0, .15);

  input,
  textarea {
    border-radius: 5px;
    font-size: 1.2rem;
  }
}

.fields {
  display: grid;
  grid-template-areas:
    "name email"
    "subject phone"
    "message message";
  grid-gap: 1rem;
  margin-bottom: 1.5rem;

  // Grid Areas
  .name {
    grid-area: name;
  }

  .subject {
    grid-area: subject;
  }

  .email {
    grid-area: email;
    margin: 0 !important;
  }

  .phone {
    grid-area: phone;
  }

  .message {
    grid-area: message;
    height: 120px;
  }

  input,
  textarea {
    padding: 0.5rem 1rem;
    font-family: "Filmotype Gay", Arial, sans-serif;
    background: #ffffff;
    border: none;
  }
}
.submit {
  background: #fbdf12;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
  border: 2px solid #fbdf12;
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
  font-family: "Filmotype Gay", Arial, sans-serif;
}

.submit:hover {
  background: transparent;
  color: #000000;
}

@media (max-width: 768px) {
  .contact h2 {
    font-size: 22px;
  }
  .fields {
    grid-template-areas:
      "name"
      "subject"
      "email"
      "phone"
      "message";
  }
}
