@font-face {
  font-family: "Filmotype Gay";
  src: url("../fonts/Filmotype\ Gay.otf");
}

.events {
  font-family: "Filmotype Gay", sans-serif;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  width: 340px;
  height: auto;
  background: #000000;
  color: #ffffff;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  p {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 550px) {
  .post {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-bottom: 1px dotted #000;
  }
}
