@font-face {
  font-family: "Filmotype Gay";
  src: url("../../../fonts/Filmotype\ Gay.otf");
}

.side-drawer {
  height: 100%;
  background: #000000;
  color: #ffffff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  font-family: "Filmotype Gay", sans-serif;

  button {
    background: transparent;
    border: none;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;

    li {
      margin: 0.5rem 0;
      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;
      }

      a:hover,
      .active {
        color: #ccc;
      }
    }
  }
  img {
    max-width: 350px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.open {
  transform: translateX(0);
}

.close {
  display: block;
  font-size: 30px;
  padding: 1rem;
  margin-left: auto;
  color: #ffffff;
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
